# Any or none of the following
#psycopg2 >= 2.9.10 # for Postgres - use psycopg2-binary on Windows
#mysql-connector-python >=9.2.0 # official Oracle supported mySQL API - see https://dev.mysql.com/doc/connector-python/en/ (NOTE not mysql-connector)
#mssql-python >= 0.13.0 # preview Microsoft supported driver - see https://learn.microsoft.com/en-us/sql/connect/python/mssql-python/python-sql-driver-mssql-python?view=sql-server-ver17
